<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8">
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="css/index.css">
        <title>WNBA Player Stats Scraper API GUI</title>
    </head>
    <body>
        <nav>
            <ul>
                <li id="nav-wnba-stats">WNBA Stats</li>
                <li id="nav-api-report">API Usage Report</li>
            </ul>
        </nav>

        <div id="root"></div>

        <script src="app/public/js/handlebars.min.js"></script>

        <script id="result-handlebars" type="text/x-handlebars-template">
            {{#if years}}
                {{!-- response is {years: []}. Just show a list of available years for this player --}}
                <ul>
                    {{#each years}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            {{/if }}

            {{#else}}
                {{!-- response is {stats: {stat1: val, stat2: val}}. Show the player's stats --}}
                <table>
                    <thead>
                        <tr>
                            {{#each stats}}
                                <td>{{@key}}</td>  {{!-- column header has name of stat --}}
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {{#each stats}}
                                <td>{{this}}</td>  {{!-- column data has the value of the stat --}}
                            {{/each}}
                        </tr>
                    </tbody>
                </table>
            {{/else}}
        </script>

        <script id="api-report-handlebars" type="text/x-handlebars-template">
            {{> nav }}
            <!-- requests usage counts and displays them (uls filled by js) -->
            <h2>WNBA Scraper Requests Received</h2>
            <ul id="wnba-req-report"></ul>

            <h2>NBA Scraper Requests Received</h2>
            <ul id="nba-req-report"></ul>
        </script>

        <script id="home-handlebars" type="text/x-handlebars-template">
            {{> nav }}

            <h1>View WNBA Player Stats</h1>

            <form id='player-search' action="/player">
                {{!-- name inputs --}}
                <div class="flex-wrapper-horizontal" id="form-top-line">
                    {{!-- first name input --}}
                    <label for="first-name">player first name</label>
                    <input id="first-name" name="first-name" placeholder="Lebronita">

                    {{!-- last name input --}}
                    <label for="last-name"> player last name</label>
                    <input id="last-name" name="last-name" placeholder="James">

                    <button type="submit">Get Stats</button>

                    <span id="input-error-message"></span>
                </div>

                    {{!-- year input --}}
                <div class="flex-wrapper-horizontal" id="form-year-selection">
                    <label for="year">in year (YYYY format)</label>
                    <input id="year" type="number" min="1996" max="2021" size="4" maxlength="4" name="year">
                </div>

                <p>if year is not provided or the provided year doesn't have any data, you'll see a list of available years for that player</p>

            </form>

            {{!-- search results --}}
            {{> result }}

        </script>

        <!-- <script src="views/partials/nav.handlebars"></script>
        <script src="views/partials/result.handlebars"></script> -->
        <!-- <script src="views/home.handlebars"></script> -->
        <script src="js/index.js"></script>
    </body>
</html>
