{{#if years}}
    {{!-- response is {years: []}. Just show a list of available years for this player --}}
    <ul>
        {{#each years}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if }}

{{#else}}
    {{!-- response is {stats: {stat1: val, stat2: val}}. Show the player's stats --}}
    <table>
        <thead>
            <tr>
                {{#each stats}}
                    <td>{{@key}}</td>  {{!-- column header has name of stat --}}
                {{/each}}
            </tr>
        </thead>
        <tbody>
            <tr>
                {{#each stats}}
                    <td>{{this}}</td>  {{!-- column data has the value of the stat --}}
                {{/each}}
            </tr>
        </tbody>
    </table>
{{/else}}