{{> nav }}

<!-- requests usage counts and displays them (uls filled by js) -->
<h2>WNBA Scraper Requests Received</h2>
<ul id="wnba-req-report"></ul>

<h2>NBA Scraper Requests Received</h2>
<ul id="nba-req-report"></ul>

<script type="module" src="js/apiReport.js"></script>