<!-- <div class="app">
    <div id="deviceready" class="blink">
        <p class="event listening">Connecting to Device</p>
        <p class="event received">Device is Ready</p>
    </div>
</div> -->

{{> nav }}

<h1>View WNBA Player Stats</h1>

<form id='player-search' action="/player">
    {{!-- name inputs --}}
    <div class="flex-wrapper-horizontal" id="form-top-line">
        {{!-- first name input --}}
        <label for="first-name">player first name</label>
        <input id="first-name" name="first-name" placeholder="Lebronita">

        {{!-- last name input --}}
        <label for="last-name"> player last name</label>
        <input id="last-name" name="last-name" placeholder="James">

        <button type="submit">Get Stats</button>

        <span id="input-error-message"></span>
    </div>

        {{!-- year input --}}
    <div class="flex-wrapper-horizontal" id="form-year-selection">
        <label for="year">in year (YYYY format)</label>
        <input id="year" type="number" min="1996" max="2021" size="4" maxlength="4" name="year">
    </div>

    <p>if year is not provided or the provided year doesn't have any data, you'll see a list of available years for that player</p>

</form>

{{!-- search results --}}
{{> result }}
